/*-------------------------Full Sheet---------------------------*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: Georgia, "Times New Roman", Times, serif;
	}

body {
	background-image: url("../img/ComputerImage.jpg");
	background-size: cover;
	}

.page {
  display: flex;
  flex-wrap: wrap;
}

/*------------------Section Formatting-------------------------*/

.section {
	width: 100%;
	height: auto;
  	justify-content: center;
  	align-items: center;
	display: flex;
	}

.header {
	background-color: white;
	border: .3vw double RGB(69,200,207);
	padding: 20px 10px 20px 10px;
	}

.content {
	display: block;
	background-color: white;
	border: .3vw solid #ddd;
	height: auto;
	padding: 20px 10px 20px 10px;
	}

.Scontent {
	display: block;
	height: auto;
	padding: 20px 10px 20px 10px;
	}

.feature-1 {
	background-color: white;
	border: .3vw solid RGB(69,200,207);
	margin: .5vw .5vw .5vw .5vw;
}

.feature-2 {
	background-color: white;
	border: .3vw solid RGB(69,200,207);
	margin: .5vw .5vw .5vw .5vw;
}

.feature-3 {
	background-color: white;
	border: .3vw solid RGB(69,200,207);
	margin: .5vw .5vw .5vw .5vw;
}

.servs {
	background-color: white;
	border: .3vw solid RGB(69,200,207);
	margin: .5vw .5vw .5vw .5vw;
	padding: .5vw .5vw .5vw .5vw;
	max-width: 80%;
	display: block;
}

.logo {
	width: 15vw;
	height: 7.5vw;
	float: left;
	margin-left: 10px;
	margin-bottom: 5px;
	}

.navMenu {
	float: right;
	height: 7vw;
	margin-right: 3vw;
	width: 10vw;
	}

.package {
	display: block;
	background-color: white;
	border: 8px solid RGB(69, 200, 207);
        box-sizing: border-box;
	padding-top: .5vw;
	}

	
/*------------------------Headers and Paragraphs----------------------------*/

/*____________________________Headers_______________________________________*/

h1 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 3vw;
	color: RGB(69, 200, 207);
	padding-left: 15px;
	padding-right: 15px;
	margin-top: 10px;
	}

h2 {
	font-size: 1.5vw;
	color: Black;
	padding-left: 1.5vw;
	padding-right: 1.5vw;
	margin-bottom: 1.5vw;
	}
h3 {
	font-size: 1.5vw;
	color: RGB(43, 139, 161);
	padding: .5vw .5vw .5vw .5vw;
	text-align: center;
	text-decoration: underline;
	}

h4 {
	font-size: 1.2vw;
	color: Black;
	padding-left: 2vw;
	padding-right: 15px;
	text-align: left;
	}

h5 {
	font-size: 25px;
	color: Black;
	padding-left: 15px;
	padding-right: 15px;
	text-align: center;
	}

/*___________________________Paragraphs_____________________________________*/

p {
	font-size: 1vw;
	text-align: justify;
	padding-left: 1.5vw;
	padding-right: 1.5vw;
	color: Black;
	}

p.important {
	font-size: 1vw;
	text-align: justify;
	padding: .5vw 1.5vw .5vw 1.5vw;
	font-weight: bold;
	font-style: italic;
	color: #029783;
	}

p.small {
	font-size: .7vw;
	}

p.pricing {
	font-size: 1vw;
	text-align: center;
	}

/*------------------------------Lists--------------------------------------*/

ul {
	font-size: 1vw;
	text-align: justify;
	padding-left: 5%;
	}

ul.square {
	font-size: 1vw;
	text-align: justify;
	padding-left: 10%;
	list-style-type: square;
	}

li {
	margin: 10px;
	font-size: 1vw;
	}

/*------------------------------LINKS--------------------------------------*/

a:link {
	color: RGB(69, 200, 207);
	}
a:visited {
	color: LightSeaGreen;
	}
a:hover{
	color: teal;
	}

/*--------------------------------IMAGES----------------------------------*/
img {
	max-width: 100%;
	max-height: 100%;
}

.mainLogo {
	display: block;
	max-width: 100%;
	position: relative;
	}

#texas {
	float: right;
	padding: 10px;
	margin-left: 10px;
	position: relative;
	max-width: 40%;
	}

.portrait {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	position: relative;
	max-width: 12%;
	}

.SelectPic {
	display: block;
    	margin-left: auto;
    	margin-right: auto;
	width: 25vw;
	position: relative;
	}


/*_________________________________HR______________________________________*/

hr.style-eight {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}

hr.style-one {
	overflow: visible; /* For IE */
	padding: 0;
	border: none;
	border-top: medium double #333;
	color: #333;
	text-align: center;
	clear: left;
}


hr.style-one:after {
    content:  "\00A7 ";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1em;
    padding: 0 0.25em;
    background: white;
}

/*------------------------------Navigation----------------------------------*/

.navbar {
	overflow: hidden;
	background-color: white;
	height: 8vw;
	border: .3vw solid dimGray;
	}


.dropdown {
	float: right;
	overflow: hidden;
	vertical-align: middle;
}

.dropdown .dropbtn {
	font-family: Georgia, "Times New Roman", Times, serif;
 	font-size: 1.7vw; 
	font-weight: bold;
	border: none;
	color: black;
	background-color: inherit;
	}

.navbar a:hover, .dropdown:hover .dropbtn {
	color: RGB(69, 200, 207);
	}

.dropdown-content {
	font-size: 1.3vw;
	font-weight: bold;
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	min-width: 160px;
	
	}

.dropdown-content a {
	float: none;
	color: black;
	padding: 12px 16px 5px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
	min-width: 160px;
	}

.dropdown-content a:hover {
	background-color: #ddd;
	}

.dropdown:hover .dropdown-content {
	display: block;
	}


/*----------------------------Screen Sizing --------------------------------*/


/* Mobile Styles */
@media only screen and (max-width: 400px) {
.header {
	height: 30px;
	width: 95%;
	margin-left:50px;
	margin-bottom: 3px;
	margin-top: 3px;
  }

.feature-1, .feature-2, .feature-3 {
	width: 60%;
	margin: auto;
	height: 10%;
	margin-bottom: 3px;
	margin-top: 3px;
  }
.content {
	width: 95%;
	margin: auto;
	margin-top: .25vw;
	margin-bottom: .25vw;
	}

.Scontent {
	width: 95%;
	margin: auto;
	margin-top: .25vw;
	margin-bottom: .25vw;
	}

.package {
	margin: 1vw 1vw 1vw .5vw;
	}
}






/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
.header {
	height: 60px;
	width: 95%;
	margin: auto;
	margin-bottom: .5vw;
	margin-top: .5vw;
  }

.feature-1, .feature-2, .feature-3 {
	width: 60%;
	height: 20%;
	margin: auto;
	margin-bottom: .5vw;
  	}

.content {
	width: 95%;
	margin: auto;
	margin-top: .25vw;
	margin-bottom: .25vw;
	}

.Scontent {
	width: 95%;
	margin: auto;
	}
.package {
	margin: 1vw 1vw 1vw .5vw;
	}
}


/* Desktop Styles */
@media only screen and (min-width: 961px) {

.feature-1, .feature-2, .feature-3 {
	width: 30%;
	margin-left: 2.2vw;
  	}

.header {
	height: 150px;
	width: 70%;
	margin: auto;
	margin-bottom: .5vw;
	margin-top: 1vw;
  	}

.content {
	width: 70%;
	margin: auto;
	margin-top: .25vw;
	margin-bottom: .25vw;
	}

.Scontent {
	width: 100%;
	margin: 1vw 1vw 1vw 5vw;
	}

.package {
	margin: 1vw 1vw 1vw 5vw;
	}

.servs {
	margin-top: 1vw;
	}

}


