/*-------------------------Full Sheet---------------------------*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: Georgia, "Times New Roman", Times, serif;
	}

body {
	background-image: url("../img/ComputerImage.jpg");
	background-size: cover;
	}

.page {
  display: flex;
  flex-wrap: wrap;
}

/*------------------Section Formatting-------------------------*/

/*___________________Elements_________________________________*/

.section {
	width: 100%;
	height: auto;
  	justify-content: center;
  	align-items: center;
	display: flex;
	}

.header {
	background-color: white;
	border: none;
	padding: 20px 10px 20px 10px;
	height: auto;
	width: 100%;
	margin: auto;
	margin-bottom: .5vw;
	margin-top: .5vw;
  	}


footer {
	background-color: black;
	height: 15px;
	display: block;
	color: white;
	font-size: 4vw;
	width: 100%;
	height: auto;
	padding: 15px 15px 15px 15px;
	text-align: center;
	}


.content-area {
   	display: flex;
	}
    
.site-main {
	width: 75%;
    	}

.sidebar-area {
    	background-color: #ddd;
    	position: relative;
    	width: 23vw;
	border-right: 2vw solid black;
	}

/*___________________Features_______________________________*/

.feature-1 {
	background-color: white;
	border: .3vw solid RGB(69,200,207);
	margin: .5vw .5vw .5vw .5vw;
	width: 100%;
	margin: auto;
	height: 10%;
	margin-bottom: 3px;
	}

.feature-2 {
	background-color: white;
	border: .3vw solid RGB(69,200,207);
	margin: .5vw .5vw .5vw .5vw;
	width: 100%;
	margin: auto;
	height: 10%;
	margin-bottom: 3px;
	margin-top: 3px;
	}

.feature-3 {
	background-color: white;
	border: .3vw solid RGB(69,200,207);
	margin: .5vw .5vw .5vw .5vw;
	}

.feature-4 {
	background-color: white;
	border: 1vw double  RGB(69,200,207);
	margin-bottom: 1vw;
	height: auto;
	font-size: 7vw;
	padding: 5vw;
	}




/*_____________________Blocks______________________________*/


.content {
	display: block;
	background-color: white;
	height: auto;
	width: 100%;
	}

.Scontent {
	display: block;
	height: auto;
	width: 100%;
	text-align: center;
	font-size: 10vw;
	background-color: #ddd;
	padding: 10px 0px 0px 0px;
	}


.servs {
	background-color: white;
	border-bottom: 2vw solid RGB(69,200,207);
	padding: 2vw 7vw 2vw 7vw;
	display: block;
	font-size: 4vw;
	margin-top: 5px;
	width: 100%;
	text-align: justify;
	}


.logo {
	float: left;
	}

.package {
	background-color: white;
	border-top: 5px solid RGB(69, 200, 207);
	border-bottom: 5px solid RGB(69, 200, 207);
	display: block;
	height: auto;
	padding: 10px 5px 10px 5px;
	}

.blank {
	background-color: inherit;
	width: 100%;
	height: 2px;
	}
.sep {
	background-color: RGB(69, 200, 207);
	height: 4vw;
	margin-top: 2vw;
	margin-bottom: 2vw;
	border-top: 1.5px solid black;
	border-bottom: 1.5px solid black;
	}

.price {
	display: block;
	float: right;
	margin-bottom: 2vw;
	margin-top: 2vw;
	font-size: 5.5vw;
	}

/*______________________Mobile __________________________*/
.mobile-1 {
	background-color: RGB(69, 200, 207);
	font-size: 5.5vw;
	font-weight: bold;
	color: black;
	height: auto;
	text-align: center;
	padding: 15px 15px 15px 15px;
	border-bottom: 5px solid black;
	display: block;
	}

.mobile-2 {
	display: block;
	background-color: Black;
	font-size: 4vw;
	color: white;
	height: auto;	
	text-align: justify;
	padding: 15px 15px 15px 15px;
	}

.mobile-3 {
	background-color: #ddd;
	font-size: 4vw;
	color: black;
	height: auto;	
	text-align: center;
	padding: 15px 15px 15px 15px;
	border-top: 6px solid white;
	border-bottom: 6px solid white;
	display: block;
	}

.mobile-4 {
	background-color: #ddd;
	font-size: 5vw;
	font-weight: bold;
	text-shadow: 2px 2px 10px black;
	color: White;
	height: auto;	
	text-align: center;
	padding: 15px 15px 15px 15px;
	border-top: 6px solid RGB(69, 200, 207);
	border-bottom: 6px double black;
	display: block;
	}


/*container for mobile pics, not the actual pictures */

.mobile-pic {
	background-color: RGB(69, 200, 207);
	font-size: 5.5vw;
	font-weight: bold;
	color: black;
	height: auto;
	text-align: center;
	padding: 15px 15px 15px 15px;
	border-bottom: 5px solid black;
	}



/*------------------------Headers and Paragraphs----------------------------*/

/*____________________________Headers_______________________________________*/

h1 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 6.5vw;
	color: RGB(69, 200, 207);
	padding-left: 15px;
	padding-right: 15px;
	margin-top: 10px; 
	text-align: center;
	}

h2 {
	font-size: 4vw;
	color: black;
	padding-left: 1.5vw;
	padding-right: 1.5vw;
	margin-bottom: 1.5vw;
	}

h3 {
	font-size: 5.5vw;
	color: white;
	text-align: center;
	text-shadow: 2px 2px 10px black;
	}

h4 {
	font-size: 3vw;
	color: Black;
	padding-left: 2vw;
	padding-right: 15px;
	text-align: center;
	}

h5 {
	font-size: 25px;
	color: Black;
	padding-left: 15px;
	padding-right: 15px;
	text-align: center;
	}


/*___________________________Paragraphs_____________________________________*/

p {
	font-size: 4vw;
	text-align: justify;
	padding-left: 1.5vw;
	padding-right: 1.5vw;
	color: Black;
	}

p.important {
	font-size: 5vw;
	text-align: justify;
	padding: .5vw 1.5vw .5vw 1.5vw;
	font-weight: bold;
	font-style: italic;
	color: #029783;
	}

p.small {
	font-size: 1.5vw;
	}
p.important {
	font-size: 2.5vw;
	}

/*------------------------------Lists--------------------------------------*/

ul {
	font-size: 4vw;
	text-align: justify;
	padding-left: 5%;
	}


li {
	margin: 10px;
	font-size: 4vw;
	}


/*------------------------------LINKS--------------------------------------*/

a:link {
	color: RGB(69, 200, 207);
	}
a:visited {
	color: LightSeaGreen;
	}
a:hover{
	color: teal;
	}



/*--------------------------------IMAGES----------------------------------*/
img {
	max-width: 100%;
	max-height: 100%;
}

.mainLogo {
	display: block;
	max-width: 100%;
	position: relative;
	}

#texas {
	float: right;
	padding: 10px;
	margin-left: 10px;
	position: relative;
	max-width: 30%;
	}

.ServPic-L {
	float: right;
	padding: 10px;
	margin-left: 10px;
	position: relative;
	max-width: 30%;
	}

.ServPic-R {
	float: right;
	padding: 10px;
	margin-left: 10px;
	position: relative;
	max-width: 30%;
	}


.portrait {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	position: relative;
	max-width: 12%;
	}

.SelectPic {
	display: block;
    	margin-left: auto;
    	margin-right: auto;
	max-width: 50%;
	position: relative;
	}

.MobilePics {
	box-shadow: 2px 2px 20px black;
	}



.DesktopPics-L {
	float: left;
	width: 50%;
	padding-right: 15px;
	margin-bottom: 1px;
	}

.DesktopPics-R {
	float: right;
	width: 50%;
	padding-left: 15px;
	}
/*_________________________________HR______________________________________*/

hr.style-eight {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}

hr.style-one {
	overflow: visible; /* For IE */
	padding: 0;
	border: none;
	border-top: medium double #333;
	color: #333;
	text-align: center;
	clear: left;
	clear: right;
}


hr.style-one:after {
    content:  "\00A7 ";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1em;
    padding: 0 0.25em;
    background: white;
}

/*------------------------------Navigation----------------------------------*/

.navbar {
	overflow: hidden;
	background-color: white;
	}


.dropdown {
	float: right;
	overflow: hidden;

}

.dropdown .dropbtn {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: bold;
	border: none;
	color: black;
	background-color: inherit;
	}

.navbar a:hover, .dropdown:hover .dropbtn {
	color: RGB(69, 200, 207);
	}

.dropdown-content {
	font-weight: bold;
	position: absolute;
	background-color: #f9f9f9;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 9999;
    	width: auto;
	display: none;
	text-align: left;
	}

.dropdown-content a {
	color: black;
	padding: 12px 50px 5px 10px;
	text-decoration: none;
	display: block;
	text-align: left;
	line-height: 5vw;
	}

.dropdown-content a:hover {
	background-color: #ddd;
	}

.dropdown:hover .dropdown-content {
	display: block;
	}

/*____________________________________SIDE NAV______________________________________*/


.ServNav{
	background-color: inherit;
	padding-top: 1vw;
	text-align: center;
	position: fixed;
	width: 21vw;
	line-height: 3vw;
}

.ServNav a {
    	padding: 8px 8px 8px 20px;
    	font-family: Georgia, "Times New Roman", Times, serif;
    	text-decoration: none;
    	font-size: 1.4vw;
   	color: black;
    	display: block;
	text-shadow: 3px 3px 10px white;

}
.ServNav a:hover {
    color: RGB(69, 200, 207);
    font-style: italic;
}

.ServNav-dropdown {
	float: right;
	overflow: hidden;
	padding: 8px 8px 8px 20px;
    	font-family: Georgia, "Times New Roman", Times, serif;
    	text-decoration: none;
    	font-size: 1.4vw;
   	color: black;
	text-shadow: 3px 3px 10px white;

}

.ServNav-dropdown-content {
	font-weight: bold;
	position: absolute;
	background-color: #f9f9f9;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 9999;
    	width: auto;
	display: none;
	text-align: left;
	}

.ServNav-dropdown:hover .ServNav-dropdown-content {
	display: block;
	}

/*----------------------------Screen Sizing --------------------------------*/

/* Mobile Styles */
@media only screen and (max-width: 400px) {

.feature-3 {
	display: none;
	}


.DesktopPics-L, .DesktopPics-R, .ServPic-L, .ServPic-R {
	display: none;
	}

p.important {
	font-size: 3vw;
	}

.ServNav, .sidebar-area {
	display: none;
	}

.content-area {
	width: 100%;
	}

.site-main {
	width: 100%;
	}

.navbar {
	overflow: hidden;
	background-color: white;
	height: 15vw;
	border: .3vw solid dimGray;
	}	


.dropdown .dropbtn {
 	font-size: 5vw; 
	margin-top: 3vw;
	}

.dropdown {
	height: 14vw;
	margin-right: 3vw;
	width: 25vw;

	}

.logo {
	width: 35vw;
	height: 14vw;
	float: left;
	margin-left: 10px;
	margin-bottom: 5px;
	}

.dropdown-content {
	font-size: 2.8vw;
	}

}


/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {

.feature-3 {
	display: none;
	}


.DesktopPics-L, .DesktopPics-R, .ServPic-L, .ServPic-R {
	display: none;
	}

p.important {
	font-size: 3vw;
	}

.ServNav, .sidebar-area {
	display: none;
	}

.content-area {
	width: 100%;
	}

.site-main {
	width: 100%;
	}

.navbar {
	overflow: hidden;
	background-color: white;
	height: 15vw;
	border: .3vw solid dimGray;
	}	


.dropdown .dropbtn {
 	font-size: 5vw; 
	margin-top: 3vw;
	}

.dropdown {
	height: 14vw;
	margin-right: 3vw;
	width: 25vw;

	}

.logo {
	width: 35vw;
	height: 14vw;
	float: left;
	margin-left: 10px;
	margin-bottom: 5px;
	}

.dropdown-content {
	font-size: 2.8vw;
	}

}


/* Desktop Styles */
@media only screen and (min-width: 961px) {

.feature-1, .feature-2, .feature-3 {
	width: 20%;
	margin: 0px;
	margin: 15px 10px 15px 10px;
  	}

.feature-1 {
	margin-left: 18vw;

  	}

.feature-4 {
	width: 30%;
	font-size: 2vw;
	text-align: center;
	height: auto;
	margin-left: 13.33% 
	
	}

.header {
	height: auto;
	width: 50%;
	margin: auto;
	margin-top: .25vw;
	margin-bottom: .25vw;
	border: 4px double RGB(69, 200, 207);
  	}

.content {
	width: 75%;
	margin: auto;
	margin-top: .25vw;
	margin-bottom: .25vw;
	}

.Scontent {
	display: none;
	}

.package {
	border: 1vw solid RGB(69, 200, 207);
	margin: auto;
	width: 65%;
	}

.servs {
	margin: auto;
	padding: .5vw .5vw .5vw .5vw;
	width: 60%;
	font-size: 1.5vw;
	border: .5vw solid #ddd;
	border-bottom: 1vw solid RGB(69, 200, 207);
	}


.navbar {
	overflow: hidden;
	background-color: white;
	height: 8vw;
	border: .3vw solid dimGray;
	}

.dropdown .dropbtn {
 	font-size: 1.7vw;
	margin-top: 2.2vw;
	}


.logo {
	width: 15vw;
	height: 7.5vw;
	margin-left: 10px;
	margin-bottom: 5px;
	}

.dropdown-content {
	font-size: 1.3vw;
	}

.dropdown {
	height: 7vw;
	margin-right: 3vw;
	width: 10vw;
	}

.dropdown-content a {
	line-height: 3vw;
	}

.mobile-1 {
	display: none;
	}

.mobile-2 {
	font-size: 1.5vw;
	width: 75%;
	margin: auto;
	margin-top: .25vw;
	margin-bottom: .25vw;
	border: 2px solid #ddd;
	background-color: white;
	color: black;
	padding: 20px 10px 20px 10px;
	font-size: 1.2vw;
	text-align: justify;
	padding-left: 1.5vw;
	padding-right: 1.5vw;
	color: Black;
	height: auto;
	}

.mobile-3 {
	font-size: 1.5vw;
	width: 75%;
	margin: auto;
	margin-top: .25vw;
	margin-bottom: .25vw;
	border: 2px solid #ddd;
	background-color: RGB(69, 200, 207);
	color: black;
	font-size: 1.2vw;
	}

.mobile-4 {
	width: 60%;
	background-color: inherit;
	border: none;
	margin: auto;
	text-align: center;
	font-size: 3vw;
	}


.SelectPic {
	max-width: 100%;
	}

.MobilePics {
	max-width: 50%;
	}

footer {
	height: auto;
	color: white;
	font-size: 1vw;
	}
h1 {
	font-size: 3vw;
	}

h2 {
	font-size: 1.5vw;
	color: black;
	text-shadow: none;
	text-align: left;
	margin: 1.4vw;

	}
h3 {
	font-size: 1.5vw;
	color: Black;
	padding-left: 1.5vw;
	padding-right: 1.5vw;
	margin-bottom: 1.5vw;
	text-align: left;
	text-shadow: none;
	}
h4 {
	font-size: 1.2vw;
	text-align: left;
	margin-left: 1.5vw;
	}

p, ul, li {
	font-size: 1.2vw;
	text-align: justify;
	padding-left: 1.5vw;
	padding-right: 1.5vw;
	color: Black;
	}

p.important {
	font-size: 1.2vw;
	text-align: justify;
	padding: .5vw 1.5vw .5vw 1.5vw;
	font-weight: bold;
	font-style: italic;
	color: #029783;
	}

p.small {
	font-size: .7vw;
	}

p.pricing {
	font-size: 1vw;
	text-align: center;
	}


.mobile-pic {
	display: none;
	}

.price {
	font-size: 3vw;
	margin-top: 0;
	}
.sep {
	display: none;
	}
	
}


