/*___________________________________BODY_________________________________________*/
body {
	background-image: url("../img/ComputerImage.jpg");
	background-size: cover;
	}

html {
	font-family: Georgia, "Times New Roman", Times, serif;
	}

/*__________________________________HEADING_______________________________________*/

h1 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 3vw;
	color: RGB(69, 200, 207);
	padding-left: 15px;
	padding-right: 15px;
	text-align: center;
	}

h2 {
	font-size: 1.5vw;
	color: Black;
	padding-left: 1.5vw;
	padding-right: 1.5vw;
	}
h3 {
	font-size: 25px;
	color: RGB(43, 139, 161);
	padding-left: 15px;
	padding-right: 15px;
	text-align: center;
	text-decoration: underline;
	}

h4 {
	font-size: 20px;
	color: Black;
	padding-left: 15px;
	padding-right: 15px;
	text-align: left;
	padding-left: 50px;
	}

h5 {
	font-size: 25px;
	color: Black;
	padding-left: 15px;
	padding-right: 15px;
	text-align: center;
	}

	
/*______________________________PARAGRAPH___________________________*/

p {
	font-size: 1vw;
	text-align: justify;
	padding-left: 1.5vw;
	padding-right: 1.5vw;
	color: Black;
	}

p.important {
	font-size: 1vw;
	text-align: justify;
	padding-left: 1.5vw;
	padding-right: 1.5vw;
	font-weight: bold;
	font-style: italic;
	color: #029783;
	}

p.small {
	font-size: .5px;
	}

p.notation {
	font-size: 1vw;
	text-align: center;
	}
	
/*________________________________LISTS________________________________________*/

ul.square {
	font-size: 20px;
	text-align: justify;
	padding-left: 75px;
	padding-right: 15px;
	list-style-type: square;
	}

li {
	margin: 10px;
	}

/*__________________________LINKS_______________________________________________*/

a:link {
	color: RGB(69, 200, 207);
	}
a:visited {
	color: LightSeaGreen;
	}
a:hover{
	color: teal;
	}

/*______________________________________IMAGES______________________________________*/

#mainLogo {
	max-width: 43%;
	float: left;
	margin: 0px 5px 10px 5px;
	}

#texas {
	float: right;
	padding: 10px;
	margin-left: 10px;
	position: relative;
	max-width: 40%;
	}

#portrait {
	float: left;
	max-width: 100%;
	margin-right: 10px;
	margin-bottom: 10px;
	}
.ChoicePic {
	float: left;
	float: center;
	position: relative;
	max-width: 100%;
	}
	
/*________________________________________COLUMNS______________________________________*/

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
	float: left;
	padding: 15px;
	border: 2px solid red;
}
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}

@media only screen and (min-width: 768px) {
    /* For desktop: */
	.col-0 {width: 4.16%}
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}

.row::after {
	content: "";
	clear: both;
	display: table;
	}
/*________________________________________BOX FORMATS______________________________________*/
* {
    box-sizing: border-box;
	}


.Heading {
	background-color: white;
	border: 5px double RGB(69,200,207);
	}
.Body {
	background-color: white;
	border: 5px solid #ddd;
	}

.Blu {
	background-color: white;
	border: 5px solid RGB(69,200,207);
	padding: 0px 0px 0px 0px;
	}

.Pack {
	background-color: white;
	border: 8px solid RGB(69, 200, 207);
	}

/*____________________________________Top Navigation...Again____________________________________*/
.navbar {
	overflow: hidden;
	background-color: white;
	font-family: Georgia, "Times New Roman", Times, serif;
	height: 130px;
	font-size: 20px;
	font-weight: bold;
	border: 3px solid dimGray;
	}

.navbar a {
	float: left;
	font-size: 20px;
	color: black;
	text-align: center;
	padding: 23px 16px;
	text-decoration: none;
}

.navbar input[type=text] {
	float: right;
	padding: 12px;
	border: 1px solid black;
	margin-top: 40px;
	margin-right: 16px;
	font-size: 20px;
	}

.dropdown {
	float: right;
	overflow: hidden;
	margin-right: 20px;
}

.dropdown .dropbtn {
	font-size: 20px;    
	border: none;
	outline: none;
	color: black;
	padding: 50px 16px 16px;
	background-color: inherit;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: bold;
	}

.navbar a:hover, .dropdown:hover .dropbtn {
	color: RGB(69, 200, 207);
	}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	min-width: 160px;
	
	}

.dropdown-content a {
	float: none;
	color: black;
	padding: 12px 16px 5px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
	min-width: 160px;
	}

.dropdown-content a:hover {
	background-color: #ddd;
	}

.dropdown:hover .dropdown-content {
	display: block;
	}

/*____________________________________SIDE NAV______________________________________*/


.ServNav{
	width: 450px;
	height: 350px;
	float: right;
	background-color: black;
	padding-top: 16px;
	text-align: center;
	border: 4px solid white;
	margin-left: 72%;
	position: fixed;
}

.ServNav a {
    padding: 8px 8px 8px 20px;
    font-family: Georgia, "Times New Roman", Times, serif;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}
.ServNav a:hover {
    color: RGB(69, 200, 207);
    font-style: italic;
}


/*_______________________________________HR________________________________________*/

hr.style-eight {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}

hr.style-one {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}


hr.style-one:after {
    content:  "\00A7 ";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}


